services:
  validator:
    build:
      context: .
      dockerfile: Dockerfile
    image: thebes1618/sn43:latest
    container_name: sn43-validator
    network_mode: "host" 
    restart: unless-stopped
    mem_reservation: "12g"
    mem_limit:       "16g"
    env_file:
      - .env
    volumes:
      - ./best_agents:/app/best_agents:rw    # Persist best agents
      - ./agents:/app/agents:rw              # Persist pulled agents
      - ./.env:/app/.env:ro
      - ./neurons:/app/neurons # live code updates in docker for neurons
      - ./sn43:/app/sn43  # live code updates in docker for sn43
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - ~/.bittensor/wallets:/root/.bittensor/wallets:ro
    command: ["validator"]

  watchtower:
    image: containrrr/watchtower
    container_name: sn43-watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 3600 sn43-validator
